.idea/
.gradle/
build/
obj/
*.iml
local.properties
*.keystore
gradle.properties
/.gradletasknamecache
/freeline_project_description.json
/freeline.py
/freeline/
/TMessagesProj/gradle/
/TMessagesProj/gradlew
/TMessagesProj/gradlew.bat
/TMessagesProj/.externalNativeBuild/
